.form {
  margin: 0 auto;
  height: 100px;

  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  .inp {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .btn_wrapper {
    margin-right: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn {
      background-color: #fff;
      border-radius: 5px;
      padding: 12px 20px;
      border: 1px solid aqua;
      color: aqua;
      font-weight: 400;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background: aqua;
        color: #fff;
      }
    }
  }
}
